[submodule "FreeRTOS-Kernel"]
	path = vendor/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
[submodule "sparkfun-pico"]
	path = vendor/sparkfun-pico
	url = https://github.com/sparkfun/sparkfun-pico
[submodule "littlefs"]
	path = vendor/littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "vendor/craftos-base"]
	path = vendor/craftos-base
	url = https://github.com/MCJack123/craftos-base
